body {
  background-image: url("https://previews.123rf.com/images/aunaauna/aunaauna1501/aunaauna150100070/35806545-modelo-incons%C3%BAtil-con-los-perros-para-su-dise%C3%B1o-textil-tarjetas-o-papel-tapiz-.jpg");
}

.Select {
  justify-content: center;
}
.App {
  display: grid;
  justify-content: center;
  padding-top: 60px;
}
