body {
  background-color: rgb(45, 189, 88);

}
.container-general{

  width: 100%;
}


.Select {
  justify-content: center;
}
.App {
  display: grid;
  justify-content: space-around;
  padding-top: 60px;
  align-content: space-between;
  width: 75%;
}

.line_dog {
  background-image: url("./img/navbar.jpg");
  width: 184%;
  height: 78px;
  background-repeat: no-repeat;
  background-position: center;
  
}
.navbar_container {
  display: flex;
    margin: auto;
    padding: 10px 9%;
    align-items: baseline;
    background-color: black;
    font-family: "Urbanist";
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    width: 184%;
}
.navbar_container h1 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 30px;
  color: white;
}
.footer_container {
  display: flex;
  margin: auto;
  padding: 10px 9%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  font-family: 'Urbanist';
}

.footer_container h1 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 20px;
  color: white;
}

